{% extends 'base.html' %}
{% load static %}
{% block page_content %}

    <h1>Blog Posts</h1>
    <div class="row">
        {% for blog in blogs %}
            <div class="col-md-4">
                <div class="card mb-2">
                    {% load static %}
                    <img src="{% static blog.image %}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{ blog.title }}</h5>
                        <p class="card-text">{{ blog.content }}</p>
                        <a href="{% url 'view_blog' blog.id %}" class="btn btn-primary">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}